<p id="notice"><%= notice %></p>

<h1>Voters</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip Code</th>
      <th>Registered</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voters.each do |voter| %>
      <tr>
        <td><%= voter.first_name %></td>
        <td><%= voter.last_name %></td>
        <td><%= voter.address.try(:street) %></td>
        <td><%= voter.address.try(:city) %></td>
        <td><%= voter.address.try(:zip_code) %></td>
        <td><%= voter.registered %></td>
        <td><%= link_to 'Show', voter %></td>
        <td><%= link_to 'Edit', edit_voter_path(voter) %></td>
        <td><%= link_to 'Destroy', voter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voter', new_voter_path %>
